/* Work better for evenly distribued columns. */
/* line 5, src/columns.scss */
.columns { background-repeat: no-repeat; }
/* line 6, src/columns.scss */
.columns.topBorder { border-top: 1px solid #555555; }
/* line 7, src/columns.scss */
.columns.bottomBorder { border-bottom: 1px solid #555555; }
/* line 8, src/columns.scss */
.columns.leftBorder { border-left: 1px solid #555555; }
/* line 9, src/columns.scss */
.columns.rightBorder { border-right: 1px solid #555555; }
/* line 10, src/columns.scss */
.columns.sliceWithMargin, .columns.introduction, ul.columns, hr.columns { margin: 30px 0; }
/* line 11, src/columns.scss */
.columns.extended { margin-left: -30px; margin-right: -30px; padding-left: 30px; padding-right: 30px; }
/* line 12, src/columns.scss */
.columns .page { padding-left: 0; padding-right: 0; }

/* line 16, src/columns.scss */
.column { display: inline-block; vertical-align: top; background-repeat: no-repeat; }
/* line 18, src/columns.scss */
.column > .columnContent { padding-left: 0; padding-right: 0; background-repeat: no-repeat; }
/* line 19, src/columns.scss */
.column:first-child > .columnContent { padding-left: 0 !important; }
/* line 20, src/columns.scss */
.column:last-child > .columnContent { padding-right: 0 !important; }
/* line 28, src/columns.scss */
.separationBorder > .column + .column > .columnContent { border-left: 1px solid #555555; }
/* line 30, src/columns.scss */
.column.columnWithPadding > .columnContent { padding-left: 15px; padding-right: 15px; }
/* line 38, src/columns.scss */
.separationBorder > .column.columnWithPadding > .columnContent { padding-left: 30px; padding-right: 30px; }

/* line 40, src/columns.scss */
.column-90 { width: 90%; }

/* line 41, src/columns.scss */
.column-80 { width: 80%; }

/* line 42, src/columns.scss */
.column-75 { width: 75%; }

/* line 43, src/columns.scss */
.column-70 { width: 70%; }

/* line 44, src/columns.scss */
.column-66 { width: 66.6666666666667%; }

/* line 45, src/columns.scss */
.column-60 { width: 60%; }

/* line 46, src/columns.scss */
.column-50 { width: 50%; }

/* line 47, src/columns.scss */
.column-40 { width: 40%; }

/* line 48, src/columns.scss */
.column-33 { width: 33.3333333333333%; }

/* line 49, src/columns.scss */
.column-30 { width: 30%; }

/* line 50, src/columns.scss */
.column-25 { width: 25%; }

/* line 51, src/columns.scss */
.column-20 { width: 20%; }

/* line 52, src/columns.scss */
.column-10 { width: 10%; }

/* line 53, src/columns.scss */
.column- { width: 100%; }

/* line 55, src/columns.scss */
.columns-slice { margin-top: -1px; border: 1px solid transparent; }
/* line 57, src/columns.scss */
.columns-slice.white { background-color: white; }
/* line 58, src/columns.scss */
.columns-slice.orange { background-color: #f55c41; }
/* line 59, src/columns.scss */
.columns-slice.grey { background-color: #ededed; }
/* line 60, src/columns.scss */
.columns-slice.purple { background-color: #353742; color: white; }
/* line 62, src/columns.scss */
.columns-slice.purple .separationBorder > .column + .column > .columnContent { border-color: #2e3038; }
/* line 64, src/columns.scss */
.columns-slice.blue { background-color: #2e3038; color: white; }
/* line 66, src/columns.scss */
.columns-slice.black { background-color: #212227; color: #aaaaaa; }
/* line 68, src/columns.scss */
.columns-slice > .column, .columns-slice > .page > .column { display: block; }

/* line 6, src/layout.scss */
html { font-size: 62.5%; line-height: 1.3em; }

/* line 7, src/layout.scss */
body { margin: 0; padding: 0; font-family: "Source Sans Pro", sans-serif; font-size: 1em; color: #2e3038; font-weight: 400; }

/* line 10, src/layout.scss */
button, a { text-decoration: none; color: #bc2422; }
/* line 12, src/layout.scss */
button img, a img { border: 0; }
/* line 13, src/layout.scss */
button:hover, a:hover { text-decoration: underline; }

/* line 17, src/layout.scss */
button { display: inline; margin: 0; border: none; padding: 0; cursor: pointer; background-color: transparent; outline: none; }

/* line 21, src/layout.scss */
.sliceWithMargin, .introduction, ul, hr { margin: 30px 0; }

/* line 23, src/layout.scss */
h1, .h1-like { margin: 25px 0; }

/* line 24, src/layout.scss */
h2, .h2-like { margin: 25px 0; }

/* line 25, src/layout.scss */
h3, .h3-like { margin: 25px 0; }

/* line 26, src/layout.scss */
h4, .h4-like { margin: 20px 0; }

/* line 27, src/layout.scss */
h5, .h5-like { margin: 20px 0; }

/* line 29, src/layout.scss */
p, p.bodytext, h6, .h6-like, .h6-like { margin: 15px 0; }

/* line 30, src/layout.scss */
td p, td p.bodytext { margin: 0; }

/* line 32, src/layout.scss */
ul li { margin: 5px 0; }

/* line 36, src/layout.scss */
p, li, td, th, textarea, caption, pre, blockquote, label, input, select, textarea { font-size: 1.5em; line-height: 1.3em; }

/* line 37, src/layout.scss */
li li, li p, td p, th p, li h1, li .h1-like, li .h1-like, li h2, li .h2-like, li .h2-like, li h3, li .h3-like, li .h3-like, li h4, li .h4-like, li .h4-like, li h5, li .h5-like, li .h5-like, li h6, li .h6-like, li .h6-like, button { font-size: 100%; }

/* line 38, src/layout.scss */
input, select, textarea { font-family: "Source Sans Pro", sans-serif; }

/* line 39, src/layout.scss */
h1, .h1-like, .h1-like, h2, .h2-like, .h2-like, h3, .h3-like, .h3-like, h4, .h4-like, .h4-like, h5, .h5-like, .h5-like { line-height: 1em; }

/* line 40, src/layout.scss */
h1, .h1-like, .h1-like { font-size: 3.5em; }

/* line 41, src/layout.scss */
h2, .h2-like, .h2-like, .important { font-size: 2.4em; }

/* line 42, src/layout.scss */
h3, .h3-like, .h3-like { font-size: 1.9em; }

/* line 43, src/layout.scss */
h4, .h4-like, .h4-like, .introduction { font-size: 1.7em; }

/* line 44, src/layout.scss */
h5, .h5-like, .h5-like { font-size: 1.6em; }

/* line 45, src/layout.scss */
h6, .h6-like, .h6-like { font-size: 1.5em; }

/* line 55, src/layout.scss */
hr { border: none; height: 1px; background-color: #555555; }

/* line 56, src/layout.scss */
hr.clear { clear: both; height: 0px; }

/* line 59, src/layout.scss */
body { color: #555555; }

/* line 61, src/layout.scss */
.align-left { text-align: left; }

/* line 62, src/layout.scss */
.align-center { text-align: center; }

/* line 63, src/layout.scss */
.align-right { text-align: right; }

/* line 64, src/layout.scss */
.align-justify { text-align: justify; }

/* line 67, src/layout.scss */
.clear { clear: both; }

/* line 2, src/modules.scss */
body { background-color: #ededed; }

/* line 5, src/modules.scss */
.page { margin: auto; padding: 0 30px; width: 990px; }
@media screen and (min-width: 0px) { /* line 5, src/modules.scss */
  .page { width: 990px; max-width: 100%; } }
@media screen and (max-width: 1050px) { /* line 5, src/modules.scss */
  .page { width: auto; margin-left: 30px; margin-right: 30px; } }

/* line 8, src/modules.scss */
.nav { display: block; margin: 0; padding: 0; }
/* line 13, src/mixins.scss */
.nav li { display: inline-block; margin: 5px; padding: 0; }
/* line 16, src/mixins.scss */
.nav li:hover .second { display: block; }
/* line 19, src/mixins.scss */
.nav .second { position: absolute; display: none; }

/* line 11, src/modules.scss */
.pink { color: #bf2971; }

/* line 12, src/modules.scss */
.green { color: #82a50a; }

/* line 13, src/modules.scss */
.orange { color: #f14223; }

/* line 14, src/modules.scss */
.blue { color: #017189; }

/* line 17, src/modules.scss */
.buttonBlock { font-size: 1.5em; font-weight: 600; text-align: center; }

/* line 18, src/modules.scss */
.button { display: inline-block; border: 1px solid #017189; padding: 10px 30px; border-radius: 5px; -webkit-border-radius: 5px; -moz-border-radius: 5px; -webkit-transition: background-color 200ms linear, color 200ms linear; transition: background-color 200ms linear, color 200ms linear; font-weight: 600; color: #017189; }
/* line 20, src/modules.scss */
.button:hover { background-color: #017189; color: white; text-decoration: none; }
/* line 22, src/modules.scss */
.button.pink { background-color: #d53983; border-color: #d53983; color: white; }
/* line 23, src/modules.scss */
.button.pink:hover { background-color: #bf2971; border-color: #bf2971; }
/* line 25, src/modules.scss */
.button.green { background-color: #88c13c; border-color: #88c13c; color: white; }
/* line 26, src/modules.scss */
.button.green:hover { background-color: #82a50a; border-color: #82a50a; }
/* line 28, src/modules.scss */
.button.orange { background-color: #f55c41; border-color: #f55c41; color: white; }
/* line 29, src/modules.scss */
.button.orange:hover { background-color: #f14223; border-color: #f14223; }
/* line 31, src/modules.scss */
.button.blue { background-color: #017189; border-color: #017189; color: white; }
/* line 32, src/modules.scss */
.button.blue:hover { background-color: transparent; border-color: #017189; color: #017189; }
/* line 34, src/modules.scss */
.button.squareCorner { border-radius: 0; -webkit-border-radius: 0; -moz-border-radius: 0; }

/* line 37, src/modules.scss */
.networks .button { margin-right: 18px; opacity: .7; -webkit-transition: opacity 200ms linear; transition: opacity 200ms linear; vertical-align: middle; }
/* line 38, src/modules.scss */
.networks .button img { display: block; }
/* line 39, src/modules.scss */
.networks .button:hover { opacity: 1; }
/* line 40, src/modules.scss */
.networks .button.facebook, .networks .button.flickr, .networks .button.dailymotion, .networks .button.calameo { padding: 5px; background-color: transparent; }
/* line 41, src/modules.scss */
.networks .button.facebook { border-color: #0074e8; }
/* line 42, src/modules.scss */
.networks .button.flickr { border-color: #d53983; }
/* line 43, src/modules.scss */
.networks .button.dailymotion { border-color: #b07913; }
/* line 44, src/modules.scss */
.networks .button.calameo { border-color: #0074e8; }
/* line 45, src/modules.scss */
.networks .button.allNetworks { padding: 15px; border-color: #92b90b; color: #92b90b; text-transform: uppercase; }
/* line 46, src/modules.scss */
.networks .button.allNetworks:hover { background-color: transparent; }

/* line 50, src/modules.scss */
.menuSite { margin: 10px auto 0; }
/* line 51, src/modules.scss */
.menuSite li { display: inline-block; margin: 0; padding: 0; border: 1px solid #dddddd; border-bottom-width: 0; }
/* line 52, src/modules.scss */
.menuSite li + li { margin-left: -1px; }
/* line 53, src/modules.scss */
.menuSite a { display: inline-block; height: 48px; background-repeat: no-repeat; background-position: 50% 50%; text-indent: -9999px; }
/* line 55, src/modules.scss */
.menuSite .active, .menuSite .current { background-color: white; }
/* line 56, src/modules.scss */
.menuSite img { vertical-align: middle; }
/* line 57, src/modules.scss */
.menuSite .page-0 a { width: 102px; background-image: url(../img/header_logo_carvin_small_off.png); }
/* line 58, src/modules.scss */
.menuSite .page-0 a.active, .menuSite .page-0 a.current { background-image: url(../img/header_logo_carvin_small_on.png); }
/* line 60, src/modules.scss */
.menuSite .page-1 a { width: 119px; background-image: url(../img/header_vie_asso_off.png); }
/* line 61, src/modules.scss */
.menuSite .page-1 a.active, .menuSite .page-1 a.current { background-color: #d53983; background-image: url(../img/header_vie_asso_on.png); }
/* line 63, src/modules.scss */
.menuSite .page-2 a { width: 82px; background-image: url(../img/header_mairie_off.png); }
/* line 64, src/modules.scss */
.menuSite .page-2 a.active, .menuSite .page-2 a.current { background-color: #f55c41; background-image: url(../img/header_mairie_on.png); }

/* line 69, src/modules.scss */
.header { padding: 15px 0 14px; background-color: white; }
/* line 70, src/modules.scss */
.root-0 .header { background-color: white; }
/* line 71, src/modules.scss */
.root-1 .header { background-color: #d53983; }
/* line 72, src/modules.scss */
.root-1 .header .mainNav > li a { color: white; }
/* line 74, src/modules.scss */
.root-2 .header { background-color: #f55c41; }
/* line 75, src/modules.scss */
.root-2 .header .mainNav > li a { color: white; }
/* line 77, src/modules.scss */
.header .logo, .header h1, .header .h1-like { display: inline; margin: 0; padding: 0; }
/* line 80, src/modules.scss */
.header .mainNav { float: right; margin: 16px 0; padding: 0; }
/* line 81, src/modules.scss */
.header .mainNav > li { margin: 0 15px; font-size: 1.6em; line-height: 1em; text-transform: uppercase; white-space: nowrap; }
/* line 83, src/modules.scss */
.header .mainNav > li a { color: #2e3038; }
/* line 84, src/modules.scss */
.header .mainNav > li a:hover { color: #017189; text-decoration: none; }

/* line 89, src/modules.scss */
.quickaccess { background-color: #f55c41; padding: 20px 0; position: relative; }
/* line 90, src/modules.scss */
.quickaccess, .quickaccess a { color: white; }
/* line 92, src/modules.scss */
.quickaccess .page { position: relative; }
/* line 93, src/modules.scss */
.quickaccess .slider { position: relative; padding: 0; margin: 0; z-index: 5; -webkit-transition: .4s 0 margin; transition: .4s 0 margin; }
/* line 94, src/modules.scss */
.quickaccess .item { position: relative; display: inline-block; margin: 0; padding: 20px 10px; width: 135px; min-height: 60px; vertical-align: top; font-size: 1.5em; line-height: 1.3; text-align: center; }
/* line 95, src/modules.scss */
.quickaccess .item::after { content: ""; position: absolute; top: 0; right: 100%; width: 1px; height: 100px; background-color: #f25235; }
/* line 97, src/modules.scss */
.quickaccess .icon { margin-bottom: 10px; }
/* line 98, src/modules.scss */
.quickaccess .control { position: absolute; top: 0; bottom: 0; margin: auto; height: 30px; width: 30px; text-indent: -9999px; background: center center no-repeat; }
/* line 99, src/modules.scss */
.quickaccess .control.disabled { display: none; }
/* line 101, src/modules.scss */
.quickaccess .previous { left: -30px; text-indent: -9999px; background-image: url(../img/header_mairie_left.png); }
/* line 102, src/modules.scss */
.quickaccess .next { right: -30px; text-indent: -9999px; background-image: url(../img/header_mairie_right.png); }
/* line 104, src/modules.scss */
.quickaccess .quickaccess-mairie24 { width: 180px; font-size: 1.4em; text-transform: uppercase; }
/* line 105, src/modules.scss */
.quickaccess .button { padding: 0; margin-top: 10px; border: 1px solid white; width: 140px; height: 60px; border-color: rgba(255, 255, 255, 0.4); color: white; text-indent: -9999px; background: url("../img/barre_logo_mairie_2424.png") center center no-repeat; }
/* line 106, src/modules.scss */
.quickaccess .button:hover { background-color: #f14223; text-decoration: none; }

/* line 111, src/modules.scss */
.slideshow { position: relative; text-align: center; background-color: #2e3038; }
/* line 112, src/modules.scss */
.slideshow, .slideshow a { color: white; text-decoration: none; }
/* line 114, src/modules.scss */
.slideshow .slider { position: relative; width: 100%; height: 60vh; padding: 0; margin: 0; z-index: 5; }
/* line 115, src/modules.scss */
.slideshow .item { position: absolute; top: 0; right: 0; bottom: 0; left: 0; margin: 0; padding: 0; background: center center no-repeat; background-size: cover; opacity: 0; -webkit-transition: 1s .2s opacity; transition: 1s .2s opacity; font-size: 1.5em; line-height: 1.3; }
/* line 117, src/modules.scss */
.slideshow .item.active { opacity: 1; z-index: 10; }
/* line 118, src/modules.scss */
.slideshow .item.active .page { opacity: 1; -webkit-transition: 0s 0s opacity; transition: 0s 0s opacity; }
/* line 121, src/modules.scss */
.slideshow .page { position: absolute; right: 0; bottom: 75px; left: 0; opacity: 0; -webkit-transition: .2s 0s opacity; transition: .2s 0s opacity; }
/* line 122, src/modules.scss */
.slideshow .slideshow-title { margin: 0; font-size: 65px; font-size: 6.5rem; line-height: 1.2; font-weight: 700; text-transform: uppercase; }
/* line 123, src/modules.scss */
.slideshow .slideshow-subtitle { margin: 0; font-size: 23px; font-size: 2.3rem; }
/* line 125, src/modules.scss */
.slideshow .control { position: absolute; top: 0; bottom: 0; margin: auto; height: 65px; width: 65px; text-indent: -9999px; background: center center no-repeat; z-index: 10; }
/* line 126, src/modules.scss */
.slideshow .previous { left: 30px; background-image: url(../img/slide_left.png); }
/* line 127, src/modules.scss */
.slideshow .next { right: 30px; background-image: url(../img/slide_right.png); }
/* line 129, src/modules.scss */
.slideshow .bullets { position: absolute; right: 0; bottom: 45px; left: 0; margin: 0; padding: 0; z-index: 20; }
/* line 130, src/modules.scss */
.slideshow .bullets li { display: inline-block; margin: 0 2px; padding: 0; }
/* line 132, src/modules.scss */
.slideshow .bullet { display: block; width: 12px; height: 12px; border-radius: 12px; background-color: white; text-indent: -9999px; opacity: .5; -webkit-transition: 1s .2s opacity; transition: 1s .2s opacity; }
/* line 133, src/modules.scss */
.slideshow .bullet.active { opacity: 1; }

/* line 138, src/modules.scss */
.tx-in-agenda { padding-bottom: 35px; background-color: white; }
/* line 139, src/modules.scss */
.tx-in-agenda .buttonBlock { margin: 25px 0 0 0; }
/* line 141, src/modules.scss */
.root-0 .tx-in-agenda .button { border-color: #017189; color: #017189; }
/* line 142, src/modules.scss */
.root-0 .tx-in-agenda .button:hover { color: white; }
/* line 144, src/modules.scss */
.root-1 .tx-in-agenda .button { border-color: #d53983; color: #d53983; }
/* line 145, src/modules.scss */
.root-1 .tx-in-agenda .button:hover { background-color: #bf2971; border-color: #bf2971; color: white; }
/* line 147, src/modules.scss */
.root-2 .tx-in-agenda .button { border-color: #f55c41; color: #f55c41; }
/* line 148, src/modules.scss */
.root-2 .tx-in-agenda .button:hover { background-color: #f14223; border-color: #f14223; color: white; }

/* line 154, src/modules.scss */
.agenda-tabs { position: relative; text-align: center; background-color: #2e3038; z-index: 20; }
/* line 155, src/modules.scss */
.agenda-tabs .agenda-tab { position: relative; display: inline-block; margin: 0 -1px 0 0; border-right: 1px solid #555555; padding: 15px 0; width: 14.2857142857143%; height: 40px; font-size: 1.8em; line-height: 1.2; color: white; cursor: pointer; -webkit-transition: .3s 0s background; transition: .3s 0s background; }
/* line 156, src/modules.scss */
.agenda-tabs .agenda-tab:first-child { margin-left: -1px; border-left: 1px solid #555555; }
/* line 157, src/modules.scss */
.agenda-tabs .agenda-tab.active { background-color: #017189; }
/* line 158, src/modules.scss */
.agenda-tabs .agenda-tab.active::after { opacity: 1; -webkit-transition: .3s 0s opacity; transition: .3s 0s opacity; }
/* line 160, src/modules.scss */
.agenda-tabs .agenda-tab::after { content: ' '; opacity: 0; position: absolute; left: 50%; bottom: -7px; margin-left: -7px; border: 7px solid #017189; border-bottom: 0; border-left-color: transparent; border-right-color: transparent; }
/* line 165, src/modules.scss */
.root-18 .agenda-tabs .agenda-tab.active { background-color: #d53983; }
/* line 166, src/modules.scss */
.root-18 .agenda-tabs .agenda-tab::after { border-top-color: #d53983; }
/* line 165, src/modules.scss */
.root-19 .agenda-tabs .agenda-tab.active { background-color: #88c13c; }
/* line 166, src/modules.scss */
.root-19 .agenda-tabs .agenda-tab::after { border-top-color: #88c13c; }
/* line 165, src/modules.scss */
.root-20 .agenda-tabs .agenda-tab.active { background-color: #f55c41; }
/* line 166, src/modules.scss */
.root-20 .agenda-tabs .agenda-tab::after { border-top-color: #f55c41; }
/* line 170, src/modules.scss */
.agenda-tabs .day-label { display: block; text-transform: uppercase; font-weight: 600; }
/* line 171, src/modules.scss */
.agenda-tabs .month-label { display: block; font-size: 0.95em; font-size: 1.7rem; }

/* line 175, src/modules.scss */
.agenda-page { position: relative; width: 920px; padding: 0 35px; z-index: 10; }

/* line 176, src/modules.scss */
.agenda-weekly { position: relative; padding: 0; margin: 0; z-index: 5; -webkit-transition: .4s 0 margin; transition: .4s 0 margin; }
/* line 177, src/modules.scss */
.agenda-weekly .agenda-day { position: relative; display: inline-block; margin: 0; padding: 0; vertical-align: top; }

/* line 181, src/modules.scss */
.agenda-day { position: relative; }
/* line 182, src/modules.scss */
.js .agenda-day { visibility: hidden; }
/* line 183, src/modules.scss */
.agenda-day.active { visibility: visible; }
/* line 185, src/modules.scss */
.agenda-day .screen { width: 919px; padding: 0; position: relative; }
/* line 186, src/modules.scss */
.agenda-day .slider { position: relative; padding: 0; margin: 0; z-index: 5; -webkit-transition: .4s 0 margin; transition: .4s 0 margin; }
/* line 187, src/modules.scss */
.agenda-day .item { position: relative; display: inline-block; margin: 0; vertical-align: top; }
/* line 188, src/modules.scss */
.agenda-day .control { position: absolute; top: 0; bottom: 0; margin: auto; height: 30px; width: 30px; text-indent: -9999px; background: center center no-repeat; }
/* line 189, src/modules.scss */
.agenda-day .control.disabled { display: none; }
/* line 191, src/modules.scss */
.agenda-day .previous { left: -40px; text-indent: -9999px; background-image: url(../img/agenda_left_off.png); }
/* line 192, src/modules.scss */
.agenda-day .previous:hover { background-image: url(../img/agenda_left_off.png); }
/* line 194, src/modules.scss */
.agenda-day .next { right: -40px; text-indent: -9999px; background-image: url(../img/agenda_right_off.png); }
/* line 195, src/modules.scss */
.agenda-day .next:hover { background-image: url(../img/agenda_right_off.png); }
/* line 198, src/modules.scss */
.agenda-day .news-item { border-right: 1px solid #dddddd; padding: 55px 35px 0 35px; width: 159px; height: 150px; }
/* line 199, src/modules.scss */
.agenda-day li:last-child .news-item { border: none; }
/* line 201, src/modules.scss */
.agenda-day .news-w-image { width: 389px; }
/* line 202, src/modules.scss */
.agenda-day .news-w-image .news-content { display: inline-block; width: 389 -170px; vertical-align: top; }
/* line 204, src/modules.scss */
.agenda-day .news-image { display: inline-block; width: 170px; margin: 0 20px 0 0; vertical-align: top; }
/* line 205, src/modules.scss */
.agenda-day .news-image img { max-height: 110px; }
/* line 208, src/modules.scss */
.agenda-day .news-title { font-size: 17px; font-size: 1.7rem; font-weight: 400; }
/* line 209, src/modules.scss */
.agenda-day .news-title a { color: #2e3038; }
/* line 210, src/modules.scss */
.agenda-day .news-title a:hover { color: #017189; }

/* line 217, src/modules.scss */
.tx-in-news .news-list .news-item { display: inline-block; background-color: white; border: 1px solid #dddddd; border-bottom-width: 0; margin: 0 0 30px 20px; vertical-align: top; }
/* line 219, src/modules.scss */
.tx-in-news .news-list .news-item:nth-child(4n+1) { margin-left: 0; }
/* line 220, src/modules.scss */
.tx-in-news .news-list .news-item .border { display: inline-block; padding: 23px 30px; width: 170px; border-bottom: 3px solid #dddddd; }
/* line 221, src/modules.scss */
.tx-in-news .news-list .news-item img { margin: -23px -31px 23px; max-width: 232px; height: 170px; }
/* line 222, src/modules.scss */
.tx-in-news .news-list .news-item h3, .tx-in-news .news-list .news-item .h3-like { margin: 0; padding: 0; font-size: 1.7em; line-height: 1.3em; font-weight: 600; }
/* line 225, src/modules.scss */
.tx-in-news .news-list .news-item h3 a, .tx-in-news .news-list .news-item .h3-like a { color: #2e3038; }
/* line 226, src/modules.scss */
.tx-in-news .news-list .news-item h3 a:hover, .tx-in-news .news-list .news-item .h3-like a:hover { color: #017189; text-decoration: none; }
/* line 228, src/modules.scss */
.tx-in-news .news-list .news-item p { margin-bottom: 0; }
/* line 229, src/modules.scss */
.tx-in-news .news-list .news-item .teaser { font-size: 1.5em; line-height: 1.4em; }
/* line 230, src/modules.scss */
.tx-in-news .news-list .news-item .author { font-size: 1.3em; color: #aaaaaa; }
/* line 231, src/modules.scss */
.tx-in-news .news-list .news-item .realName { color: #017189; }
/* line 233, src/modules.scss */
.tx-in-news .news-cat-7 .border { border-bottom-color: #d53983 !important; }
/* line 234, src/modules.scss */
.tx-in-news .news-cat-9 .border { border-bottom-color: #92b90b !important; }
/* line 235, src/modules.scss */
.tx-in-news .news-cat-6 .border { border-bottom-color: #f55c41 !important; }
/* line 236, src/modules.scss */
.tx-in-news .news-cat-46 .border { border-bottom-color: #017189 !important; }
/* line 238, src/modules.scss */
.tx-in-news .buttonBlock { margin: 40px 0 65px 0; }
/* line 240, src/modules.scss */
.root-0 .tx-in-news .button { border-color: #017189; color: #017189; }
/* line 241, src/modules.scss */
.root-0 .tx-in-news .button:hover { color: white; }
/* line 243, src/modules.scss */
.root-1 .tx-in-news .button { border-color: #d53983; color: #d53983; }
/* line 244, src/modules.scss */
.root-1 .tx-in-news .button:hover { background-color: #bf2971; border-color: #bf2971; color: white; }
/* line 246, src/modules.scss */
.root-2 .tx-in-news .button { border-color: #f55c41; color: #f55c41; }
/* line 247, src/modules.scss */
.root-2 .tx-in-news .button:hover { background-color: #f14223; border-color: #f14223; color: white; }

/* line 253, src/modules.scss */
.honnypot { text-align: center; }
/* line 255, src/modules.scss */
.honnypot .column .columnContent { position: relative; }
/* line 256, src/modules.scss */
.honnypot .column .columnContent:after { content: ''; position: absolute; top: 0; bottom: 0; left: -3px; width: 6px; background: white; background-image: -webkit-linear-gradient(bottom, white 0%, #ededed 100%); background-image: linear-gradient(to top, white 0%, #ededed 100%); }
/* line 258, src/modules.scss */
.honnypot .column:first-child .columnContent:after { display: none; }
/* line 260, src/modules.scss */
.honnypot a { display: block; padding: 10px 30px 40px; text-decoration: none; color: #f55c41; }
/* line 261, src/modules.scss */
.honnypot .honnypot-image { margin: 30px 0; }
/* line 262, src/modules.scss */
.honnypot .honnypot-title { margin: 30px 0; font-size: 3em; font-weight: 300; text-transform: none; color: #f55c41; }
/* line 263, src/modules.scss */
.honnypot .honnypot-subtitle { margin: 30px 0; font-size: 1.5em; color: #f55c41; }

/* line 268, src/modules.scss */
.home .tx-in-news .news-list .news-item { margin: 0; }
/* line 269, src/modules.scss */
.home .tx-in-news .news-list .news-item + .news-item { margin-left: -1px; }
/* line 270, src/modules.scss */
.home .tx-in-news .news-list .news-item .border { width: 184px; }
/* line 271, src/modules.scss */
.home .tx-in-news .news-list .news-item img { max-width: 246px; }
/* line 274, src/modules.scss */
.home h2, .home .h2-like { margin: 50px 0; font-size: 4.5em; line-height: 1em; font-weight: 300; color: #017189; text-transform: uppercase; text-align: center; }
/* line 277, src/modules.scss */
.home.root-0 h2, .home.root-0 .h2-like { color: #017189; }
/* line 278, src/modules.scss */
.home.root-1 h2, .home.root-1 .h2-like { color: #d53983; }
/* line 279, src/modules.scss */
.home.root-2 h2, .home.root-2 .h2-like { color: #f55c41; }
/* line 280, src/modules.scss */
.home #c33 .columns-33-33-33 { margin: 40px 0 60px; }
/* line 281, src/modules.scss */
.home #c40 .columns-50-50 { margin: 30px 0 45px; }
/* line 282, src/modules.scss */
.home #c40 h3, .home #c40 .h3-like { font-size: 2.5em; font-weight: 300; text-transform: uppercase; }
/* line 284, src/modules.scss */
.home .tx-powermail input[type="text"] { padding: 12px 3% 11px; width: 60%; background-color: transparent; border: 1px solid #aaaaaa; outline: 0; font-size: 1.7em; color: #aaaaaa; }
/* line 286, src/modules.scss */
.home .tx-powermail input[type="submit"] { margin-left: -1px; padding: 10px; background-color: transparent; border: 1px solid #92b90b; -webkit-transition: background-color 200ms linear, color 200ms linear; transition: background-color 200ms linear, color 200ms linear; font-size: 1.9em; font-weight: 600; color: #92b90b; }
/* line 288, src/modules.scss */
.home .tx-powermail input[type="submit"]:hover { background-color: #92b90b; color: white; }

/* line 293, src/modules.scss */
.bottomNav { margin: 42px 0; }
/* line 294, src/modules.scss */
.bottomNav a { color: #aaaaaa; }
/* line 295, src/modules.scss */
.bottomNav a:hover { text-decoration: underline; }
/* line 296, src/modules.scss */
.bottomNav li { margin: 0; }
/* line 297, src/modules.scss */
.bottomNav li + li:before { content: "|"; margin: 0 17px; font-size: 0.8em; vertical-align: bottom; }

/* line 2, src/powermail.scss */
.tx-powermail fieldset { border: 0; }
/* line 3, src/powermail.scss */
.tx-powermail .powermail_fieldwrap { clear: both; display: block; position: relative; margin: 10px auto; }
/* line 5, src/powermail.scss */
.tx-powermail legend { display: none; }
/* line 7, src/powermail.scss */
.tx-powermail .powermail_fieldwrap_radio legend, .tx-powermail .powermail_fieldwrap_check legend, .tx-powermail .powermail_all_label, .tx-powermail label { display: inline-block; width: 15%; padding: 4px 1%; vertical-align: middle; font-size: 1.5em; line-height: 1.3em; font-weight: 700; text-align: right; }
/* line 12, src/powermail.scss */
.tx-powermail .powermail_all_value { display: inline-block; width: 70%; vertical-align: middle; font-size: 1.5em; line-height: 1.3em; }
/* line 15, src/powermail.scss */
.tx-powermail .powermail_fieldwrap_radio legend, .tx-powermail .powermail_fieldwrap_check legend { float: left; }
/* line 17, src/powermail.scss */
.tx-powermail .powermail_radio_outer, .tx-powermail .powermail_check_outer { display: inline-block; width: 75%; vertical-align: middle; }
/* line 19, src/powermail.scss */
.tx-powermail .powermail_radio_outer label, .tx-powermail .powermail_check_outer label { width: 90%; text-align: left; }
/* line 21, src/powermail.scss */
.tx-powermail .powermail_fieldwrap_textarea label { vertical-align: top; }
/* line 23, src/powermail.scss */
.tx-powermail .powermail_mandatory { margin-left: 5px; }
/* line 24, src/powermail.scss */
.tx-powermail input, .tx-powermail select, .tx-powermail textarea { vertical-align: middle; }
/* line 25, src/powermail.scss */
.tx-powermail textarea { height: 80px; }
/* line 26, src/powermail.scss */
.tx-powermail input[type="text"], .tx-powermail input[type="email"], .tx-powermail input[type="password"], .tx-powermail input[type="submit"], .tx-powermail select, .tx-powermail textarea { position: relative; padding: 4px 1%; width: 70%; border: 1px solid #2e3038; background-color: white; font-size: 1.7em; line-height: 1.4em; }
/* line 33, src/powermail.scss */
.tx-powermail select { width: auto; cursor: pointer; }
/* line 34, src/powermail.scss */
.tx-powermail input[type="submit"] { margin-left: 17.5%; width: auto; cursor: pointer; background-color: #aad4ff; border: 0; font-size: 1.5em; font-family: "Source Sans Pro", sans-serif; font-weight: 700; color: white; text-transform: uppercase; }
/* line 37, src/powermail.scss */
.tx-powermail input[type="text"]:focus, .tx-powermail input[type="email"]:focus, .tx-powermail input[type="password"]:focus, .tx-powermail textarea:focus { outline: 0; }
/* line 41, src/powermail.scss */
.tx-powermail input[type="text"].invalid, .tx-powermail input[type="email"].invalid, .tx-powermail input[type="password"].invalid, .tx-powermail textarea.invalid { box-shadow: 0 0 3px #e04831; }
/* line 46, src/powermail.scss */
.tx-powermail .formError { padding: 5px; height: auto; background-color: #e04831; z-index: 10; color: white; }
/* line 48, src/powermail.scss */
.tx-powermail .formError .formErrorContent { margin: 0; padding: 0; font-weight: bold; }
/* line 49, src/powermail.scss */
.tx-powermail .formError .formErrorArrow { display: block; position: absolute; bottom: -10px; left: 5px; width: 0; height: 0; border: 10px solid; border-bottom: 0 none; border-color: #e04831 transparent transparent; }

@media screen and (min-width: 0px) { /* line 5, src/mediaqueries.scss */
  .csc-textpic-imagewrap, img { max-width: 100%; height: auto; } }
@media screen and (max-width: 764px) { /* line 11, src/mediaqueries.scss */
  .column { display: block; width: auto !important; margin: 0 !important; } }
/* line 2, src/backend.scss */
.neos-backend .neos { font-size: 1em; }
/* line 3, src/backend.scss */
.neos-backend .header .mainNav li { margin: 0 5px; font-size: 1em; }

@media (min-width: 768px) { /* line 6, src/backend.scss */
  .container { max-width: 750px; width: 100%; } }
@media (min-width: 992px) { /* line 7, src/backend.scss */
  .container { max-width: 970px; width: 100%; } }
@media (min-width: 1200px) { /* line 8, src/backend.scss */
  .container { max-width: 1170px; width: 100%; } }